#breadcrumb{
    width: 100%;
    background: #000;
    background-size: cover;
    position: relative;
    padding: 80px 0 0 0;
}

.breadcrumb-item.active{
    color: gray;
}

table, th, td{
    border: 1px solid white;
    border-collapse:separate;
    border-radius: 2%;
}

th, td{
    width: 33%;
}