
.info-class {
    white-space: pre;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.img-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
  }
  
  .img-container:hover::after {
    opacity: 1;
  }
  
  .img-container:hover img {
    transform: scale(1.1);
  }

  #tableId {
    border-collapse: collapse;
    width: 50%; /* Možete prilagoditi širinu tabele prema potrebama */
    margin: 0 auto; /* Postavljanje margina na "auto" centrirat će tabelu horizontalno */
  }
  
  #tableId th,
  #tableId td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  #tableId th {
    background-color: #f2f2f2;
  }